

.title-box{ 
    strong{
        display:inline-block;
        font-size: 22px;font-weight: 500;
        margin-bottom: 20px;
        letter-spacing: 1px;
        @include desktop{font-size:1.5vw;}
        @include tablet{font-size: 16px;}
    }
    h2{
        font-size: 72px;font-weight: 800;
        @include desktop{font-size: 5vw;line-height: 1.1;}
        @include tablet{font-size: 36px;line-height: 1;}
    }
    p{
        font-size: 21px;font-weight: 400;
        line-height: 30px;padding-top: 27px;
        @include desktop{font-size: 1.4vw;line-height: 1.5;}
        @include tablet{font-size: 15px;line-height: 22px;padding-top: 17px;}
    }
    
}
.inner{
    width: calc(100% - 420px);
    margin: 0 auto;
    @include desktop{width: calc(100% - 210px);}
    @include tablet{width: calc(100% - 40px);}   
}


.visual-area{
    position: relative;
    width: 100%;height: 100vh;
    min-height: 850px;
    @include tablet {min-height: 500px;}
    .swiper-slide{
         .img-wrap{
            position: absolute;top: 0;left: 0;
            width: 100%;height: 100%;
            img{
                object-fit: cover;
                width: 100%;height: 100%;}
         }
         .txt-wrap{
            position: absolute;
            top:50%;left:210px;transform: translateY(-50%);

            color:#fff;line-height: 1.4;
            @include tablet {top: 45%;left: 20px;}
            h2{
                font-size: 82px;font-weight: 800;
                line-height: 1.1;
                @include tablet{font-size: 41px;line-height: 48px;}
            }
            p{
                font-size: 18px;font-weight: 400;
                line-height: 1.4;
                padding-top: 25px;
                @include tablet{font-size: 14px;line-height: 22px; padding-top: 10px;}
    
            }
        }
    }
    .visual-control{
        position: absolute;
        left: 210px;bottom: 130px;

        display: flex;align-content: center;
        z-index: 10;color:#fff;
        @include tablet{ left: 20px;bottom: 38px;}
        .btn{
            width: 60px;height: 60px;
            display: inline-block;
            position: relative;
            overflow: hidden;
            img{position: absolute;}
            @include tablet {width: 39px; height: 39px;}

            &.prev img{
                top: -100px;left: -900px;
                @include tablet {
                    top: -250px;left: -400px;
                    transform: scale(.5);
                }
            }
            &.next img{
                top: -100px;left: -1100px;
                @include tablet {
                    top: -250px;left: -450px;
                    transform: scale(.5);
                }
            }
        }
        .btns {
            .btn{ 
                position: relative;
                display: none;
                width: 60px;height: 60px;
                margin-left: 20px;
                overflow: hidden;
                img{position: absolute;}
                &.on{display: block;}
                @include tablet {
                    width: 39px; height: 39px;
                    margin-left: 10px;
                }
            }
            .stop img{
                top: -100px;left: -500px;
                @include tablet {
                    top: -250px;left: -650px;
                    transform: scale(.5);
                }
            }
            .play img{
                top: -100px;left: -700px;
                @include tablet {
                    top: -250px;left: -700px;
                    transform: scale(.5);
                }
            }
        }
        .state-bar{
            display: flex;
            padding: 23px;
            @include tablet {padding: 12px 13px 7px 13px;}
            .swiper-pagination{
                margin-left: 20px;
                position: relative;
                width: auto;bottom: auto;
                display: flex;align-items: center;
                @include tablet{display: none;}
            }
            .swiper-pagination-bullet{
                width: 20px;height: 2px;
                background-color: #fff;
                border-radius: 0;
            }
            .swiper-pagination-bullet-active{
                width: 80px;
            }
        }
        
    }
}


.about-group{
    padding: 235px 0;
    text-align: center;
    background-color: #f5f5f5;color:#222;
    @include tablet{padding: 100px 0;}
    p{
        color:#6c6c6c;
        br{@include tablet{display: none}}
    }
    .link-more{
        @include linkMore;
        border:1px solid#222;
        margin-top: 40px;
    }
}

.experience-area{
    position: relative;
    padding: 220px 0;
    background-color: #111;color:#fff;
    overflow: hidden;
    .bg-bar{
        position: absolute;
        top: 0;left: 50%;transform: translateX(-50%);
        width: 40px;height: 100%;
        background-color: #191919;
        &:first-child{left: calc(50% - 375px);}
        &:last-child{left: calc(50% + 375px);}
        
    }
    .title-box{
        position: relative;
        color:#fff;
        text-align: center;
        z-index: 10;
    }
    .content-group{
        width: 100%;margin: 0 auto;
        position: relative;padding-top: 100px;
        ul::after{
            content: '';clear: both;display: block;
        }
        .exper-item{
            position: relative;
            float: left;
            width:31.4%;
            &:nth-child(2){margin: 0 2.9%;}
            .items{
                position: relative;
                display: block;
                padding-bottom: 130%;
                overflow: hidden;
                img{
                    position: absolute;top: 0;left: 0;
                    width: 100%;height: 100%;
                    object-fit: cover;
                }
                .txt-wrap{
                    position: absolute;
                    top: 8%;left: 2.5vw;
                    font-weight: 700;
                    .tit{
                        font-size: 38px;
                        @include desktop {font-size: 2.5vw;} 
                        @include tablet {font-size: 31px;}
                        @include mobile{font-size: 18px;}
                    }
                    .dsc{
                        margin-top: 20px;font-size: 20px;
                        @include desktop{font-size: 1.6vw;}
                        @include tablet{
                            margin-top: 8px;
                            font-size: 15px;
                        }
                        @include mobile{font-size: 12px;}
                    }
                }
                &.on::before{
                    content: '';
                    position: absolute;
                    top: 0;left: 0;
                    width: 100%;height: 100%;
                    z-index:1;
                    background-color: rgba(0,0,0,0.2);
                }
            }
            .link-more{
                position: absolute;
                top: 25%;left: 2.5vw;
                margin-top: 120px;
                @include linkMore;
                border:1px solid#fff;
                transition: all .3s ease-in-out;
                opacity: 0;z-index: 2;
                &.up{
                    margin-top: 40px;
                    opacity: 1;
                }
            }
        }
        

    } 

}

.pleasure-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 220px;
    background: url(../img/driving-pleasure-bg.jpg) no-repeat center top / cover;
    @include tablet { 
        padding: 90px 0 40px;
        background: url(../img/driving-pleasure-m-bg.jpg) no-repeat top / cover;
    }
    .title-box{
        color:#fff;
        text-align: center;
        p{
            br{@include tablet{display: none;}}
        }
    }
    .content-group{
        width: 100%;
        margin-top: 100px;
        @include tablet{ 
            max-width: 640px;
            margin: 80px auto; padding: 0 20px;
            box-sizing: border-box;
        }
        ul::after{content:'';display: block;clear: both;}
        .pls-item{
            position: relative;
            float: left;
            width: 25%;height: 800px;
            overflow: hidden;
            @include tablet{
                float: none;
                width: 100%;height: 120px;
            }
            &.mob{height: 340px;}
            .items{
                display: block;
                width: 100%;height: 100%;
                padding: 0 20px;box-sizing: border-box;
                display: flex; flex-direction: column;align-items: center;justify-content: center;
                filter:grayscale(100%);
                transition: all .3s linear;
                .txt-wrap{
                    pointer-events: none;
                    width: 100%;min-height:200px;
                    text-align: center;
                    line-height: 1.2;color:#fff;
                    z-index: 10;
                    transition: all .3s ease;
                    &.on{transform: translateY(-50%);}
                    &.mob{ top: 50%;left: 50%;transform: translate(-50%, -50%);}
                    .tit{font-size: 40px;font-weight: 800;}
                    .txt-off{
                        opacity: 0;
                        transition: all .5s ease;
                        &.on{ opacity: 1;}
                        &.mob{opacity: 1;}
                        p{
                            font-size: 18px;line-height: 1.5;
                            margin-top: 40px;
                        }
                    }
                    @include tablet{
                        left: 50%;transform: translateX(-50%);
                        padding: 0;
                        .tit{font-size: 25px;}
                      }
                }
                .link-more{
                    @include linkMore;
                    border:1px solid#fff;
                    opacity: 0;z-index:1;
                    transition: all  ease;
                    &.on{ opacity: 1;}
                }
                &.on{
                    filter:grayscale(0);
                    &::before{ transform: rotate(180deg);}
                    &::after{ background: rgba(0,0,0,0)}
                }
                &.mob{
                    filter:grayscale(0);
                    &::before{ transform: rotate(180deg);}
                    &::after{ background: rgba(0,0,0,0)}
                }
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    top: 55%;right:17px;
                    width: 14px;height: 9px;
                    background: url(/asset/img/pls-m-icon.png)no-repeat 0 -11px / 14px 20px;
                }
                &::after{
                    content: '';
                    position: absolute;top: 0;left: 0;
                    background: rgba(0,0,0,0.5);
                    width: 100%;height: 100%;
                    transition: all .3s linear;
                }

            }
            &:first-child a{background: url(../img/driving-pleasure01.jpg)no-repeat center / cover;}
            &:nth-child(2) a{background: url(../img/driving-pleasure02.jpg) no-repeat center / cover;}
            &:nth-child(3) a{background: url(../img/driving-pleasure03.jpg) no-repeat center / cover;}
            &:last-child a{background: url(../img/driving-pleasure04.jpg)no-repeat center / cover;}
        }

    }


}

.festival-area{
    position: relative;
    width: 100%;height: 100vh;
    overflow: hidden;
    color:#fff;
    padding-top: 223px;
    @include tablet {
        height: 570px;
        padding-top: 56px;
    }
    .bg{
        position: absolute;
        top: 0;left: 0;
        width: 100%;height: 100%;
        object-fit: cover;
    }
    .title-box{
        position: absolute;
        .link-more{
            @include linkMore;
            border:1px solid#fff;
            margin-top: 40px;
        }
    }
}

.sns-area{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #111;
    color:#fff;
    .circle div{
        position: absolute;
        border:40px solid hsl(0,0%,10%);
        border-radius: 100%;
        z-index: 0;
        &.circle1{
            top: -381px;left: -176px;
            width: 760px;height: 760px;
        }
        &.circle2{
            top: -780px;left: -599px;
            width: 1560px;height: 1560px;
        }
        &.circle3{
            top: -1079px;left: -824px;
            width: 2160px;height: 2160px;
        }

    }
    .sns-group{
        position: relative;
        padding: 220px 0 200px 0;
        z-index: 10;
        .title-box{
            text-align: center;
            .link-more{
                @include linkMore;
                border:1px solid#fff;
                margin-top: 40px;
            }
        }
        .content-box{
            margin-top: 56px;
            ul{overflow: hidden;}
            .sns-item{
                position: relative;
                float: left;width: 25%;
                 @include tablet{ width: 50%;}
                 @include mobile{width: calc( 100% / 3)}
                .items{
                    display: block;
                    position: relative;
                    width: 100%;height: 100%;
                    &::after{content: '';display: block;padding-bottom: 100%;}
                    img{
                        position: absolute;top: 0;left: 0;
                        width: 100%;height: 100%;object-fit: cover;
                    }  
                    &::before{
                        content: '';
                        position: absolute;top: 0;left: 0;
                        width: 100%;height: 100%;
                        background-color: rgba(0,0,0,0.8);
                        z-index: 0; 
                    }
                    &:hover::before{z-index: 1;}
                    .txt-wrap{
                        position: absolute;
                        width: 100%;
                        top: 50%;transform: translateY(-50%);
                        padding: 0 10px;box-sizing: border-box;
                        text-align: center;
                        z-index:5;
                        opacity: 0;
                        p{
                            font-size: 18px;
                            line-height: 28px;
                            word-break: keep-all;

                            display: -webkit-box;
                            overflow: hidden;
                            text-overflow: ellipsis;                         
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            @include desktop{font-size: 1.4vw;}
                            @include tablet{font-size: 13px;line-height: 19px;text-align: center;}
                            @include mobile{line-height: 17px;}
                        }
                        &.on{opacity: 1;}
                    }
                }

            }
        }


    }
    


}
